nav{
    background-color: #4abdcc;
}
nav .wrap1,section{
    width: 930px;
    margin: 0 auto  ;
}
a,a:link,a:active,a:visited{
    color: white;
    text-decoration: none;
}
.typeli{
    overflow: hidden;
}
.typeli li{
    float: left;
    height: 37px;
    font-size: 20px;
    color: #666;
    padding: 0 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.typeli li:nth-child(1){
    border-bottom: 3px solid #ff7000;
    color: #ff7000;
}

.result{
    font-size: 16px;
    color: #888888;
    margin: 10px 0;
}

.ali{
    width: 285px;
    height: 372px;
    background-color: #fff;
    float: left;
    /*margin: 0 0 20px 19px;*/
    overflow: hidden;
}
.liImg{
    width: 100%;
    border-radius: 6px 6px 0 0;
    height: 260px;
}
.contentList{
    width: 930px;
}
.ali:nth-child(3n+2){
    margin: 0 10px;
}
.ali a{
    color: #999;
    font-size: 12px;
    display: block;
    width: 100%;
}
.ali a .title{
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    color: #5c5c5c;
    padding: 0 20px 0 16px;
    margin-top: 18px;
    overflow: hidden;
}
.ali .info{
    padding: 0 16px 16px 14px;
    margin: 20px 0 0;
    height: 38px;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ali .logo{
    width: 38px;
    height: 38px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
}
.userli{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.userLogo{
    width: 78px;
    height: 78px;
    margin-right: 20px;
}
.msgbox{
    height: 78px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
}
.msg{
    font-size: 16px;
    color: #999;
}
.list{
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.list>img{
    margin-right: 20px;
}
.list .title{
    color: #6e4987;
    font-size: 18px;
}
.description{
    font-size: 14px;

    margin: 5px 0;
}
.description text:nth-child(2){
    margin: 0 5px;
}
.jianjie{
    font-size: 14px;
    color: #999;
}

.list .photo{
    width: 130px;
    height: 130px;
}

.list_left{
    width: 780px;
}